.headermain{
    background-image: var(--gradient-color-header);
    display: flex;
    padding-left: 300px;
    padding-right: 200px;
    height: 80px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logoabc{
    display: flex;
    gap: 2rem;
    height: 40px;
}

.logoanime{
    display: flex;
}
.logoanime img{
    margin: auto;
    height: 100%;
}

.contheader{
    display: flex;
    gap: 2rem;
}

.abcnav{
    display: flex;
    background-color: rgb(0, 0, 0,0.1);
    width: 300px;
    height: 40px;
    border-radius: 25px;
}
.searchabc{
    display: flex;
    width: 100%;
}

.searchabc ul li svg{
    display: flex;
    margin: auto;
    width: 20px;
}

.searchabc ul li svg path{
    fill: rgb(255, 255, 255);
}

.searchabc ul{
    border-radius: 25px;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    padding: 0px 11px ;
    font-size: 1rem;
    font-weight: 400;
}

.searchabc ul li{
    margin: auto;
    list-style: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 3px 10px;
    transition: 0.1s;
    font-weight: 400;
}

.searchabc ul li:hover{
    font-style: 1.2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.oletters ul{
    background-color: white;
    grid-template-columns: repeat(7, 1fr);
}

.searchnav{
    position: relative;
    display: flex;
    min-width: 130px;
    max-width: 220px;
    height: 40px;
}

.searchnav input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin: auto 0 0 0 ;
    height: 35px;
    width: 100%;
    padding: 0px 30px 0px 2px;
    border-bottom: 2px solid white;
    color: white;
}

.searchnav input::placeholder{
    color: #ffffff;
}

.searchlogo{
    position: absolute;
    width: 25px;
    height: 100%;
    right: 0;
    display: flex;
    cursor: pointer;
}

.searchlogo svg{
    margin: auto;
    width: 16px;
}

.login{
    display: flex;
    background-color: rgb(0, 0, 0,0.1);
    height: 30px;
    padding: 5px 18px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.loginlogo{
    display: flex;
    margin: auto;
    padding-right: 11px;
}

.loginlogo svg{
    width: 16px;
    height: 16px;
    transition: 0.2s;
}

.loginlogo svg path{
    transition: 0.2s;
}

.textlogin{
    margin: auto;
    font-weight: 800;
    transition: 0.2s;
}

.login:hover{
    background-color: white;
}

.login:hover .textlogin, .login:hover .loginlogo svg path {
    fill: var(--primary-color);
    color: var(--primary-color);
}