.header-main{
    background-image: var(--gradient-color-header);
    display: flex;
    padding-left: 160px;
    padding-right: 60px;
    height: 95px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logo-anime{
    display: flex;
    height: 100%;
}
.logo-anime img{
    margin: auto;
    height: 70%;
}

.abc-nav{
    width: 300px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.search-abc{
    display: flex;
    width: 100%;
    margin: auto;
}
.search-abc ul{
    /*background-color: rgb(255, 255, 255);*/
    border-radius: 25px;
    width: 100%;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 11px 0px;
    margin: 5px auto auto auto;
    padding: 0px 11px ;
    font-size: 1.3rem;
    font-weight: 400;
}

.search-abc ul li{
    margin: auto;
    list-style: none;
    cursor: pointer;
}

.search-nav input{
    outline: none;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    height: 21px;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(255, 255, 255) solid;
}

.login{
    display: flex;
    background-color: none;
    height: 35px;
    padding: 3px 30px;
    border-radius: 25px;
    border: 2px white solid;
    text-decoration: none;
    color: white;
    transition: 0.2s;

}

.login-logo{
    display: flex;
    margin: auto;
    padding-right: 11px;
}

.login-logo svg{
    width: 19px;
    height: 19px;
    transition: 0.2s;
}

.login-logo svg path{
    transition: 0.2s;
}

.textlogin{
    margin: auto;
    font-weight: 800;
    font-size: 1rem;
    transition: 0.2s;
}

.login:hover{
    background-color: white;
}

.login:hover .textlogin, .login:hover .login-logo svg path {
    fill: var(--primary-color);
    color: var(--primary-color);
}