.app{
  height: auto;
  width: auto;
  padding-left: 100px;
  padding-right: 0px;
}

.applogin{
  background-image: url(assets/img/loginbanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}