.main-login{
    background-image: url(../assets/img/loginbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

.cont-login{
    background-color: rgb(255, 255, 255);
    width: 440px;
    border-radius: 15px;
    padding: 35px 30px;
    margin: auto;
    position: relative;
}

.boy-login{
    position: absolute;
    height: 650px;
    transform: scaleX(-1);
    object-fit: contain;
    left: -220px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.icon-logo{
    display: flex;
    margin: auto;
    width: 300px;
    padding-bottom: 1rem;
}

.icon-logo img{
    width: 100%;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
    font-weight: 500;
}

.formlogin{
    margin: auto;
    text-align: center;
    width: 370px;
}

.inputlogin{
    margin-bottom: 3.2rem;
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
}

.inputlogin:last-child{
    margin-bottom: 3.8rem;
}

.inputlogin input{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin-right: 0.2rem;
}

.inputlogin svg path{
    fill: rgb(201, 201, 201);
    transition: 0.2s;
}

.inputlogin svg{
    width: 18px;
    height: 18px;
    margin: auto;
}

.line{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(201, 201, 201);
    bottom: -2px;
    transition: 0.2s linear;
}

.text-p{
    position: absolute;
    color: rgb(201, 201, 201);
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0.9rem;
    z-index: 1;
    transition: 0.2s;
}

.inputlogin input:focus + svg path {
    fill: var(--primary-color);
}

.inputlogin input:valid + svg path{
    fill: var(--primary-color);
}

.inputlogin input:focus + svg + .line {
    background-color: var(--primary-color);
}

.inputlogin input:valid + svg + .line{
    background-color: var(--primary-color);
}

.inputlogin input:focus + svg + .line + .text-p {
    color: var(--primary-color);
    transform: translateY(-18px);
    font-size: 0.75rem;
}

.inputlogin input:valid + svg + .line + .text-p {
    color: var(--primary-color);
    transform: translateY(-18px);
    font-size: 0.75rem;
}




.btn-iniciar{
    border: none;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Noto Sans JP;
    transition: 0.2s;
    font-weight: 600;
}

.btn-iniciar:hover{
    background-color: rgb(23, 189, 255);
}

.register{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register span{
    padding-left: 8px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
